body {
	margin: 0;
	font-family: 'Poppins', sans-serif;	
}
h1 {
	font-size: 50px;
}
h2 {
	font-size: 40px;
}
p {
	color: dimgray;
}
.orange-highlight {
	color: orange;
}
.half-width {
	width: 40%;
	float: left;
	margin-left: 5%;
	padding-left: 2%;
}
.half-width img {
	width: 100%;
}
.top-banner {
	/* border: 1px solid red; */
	background-image: url("images/top-banner.png");
	background-repeat: no-repeat;
}
section {
	height: 600px;
	padding-bottom: 150px;
}
.link-button {
	text-decoration: none;
	/* background-color: orange; */
	background-image: linear-gradient(45deg, lightsalmon, tomato);
	padding: 10px 20px;
	border-radius: 5px;
	color: white;
	font-weight: 700;
}

/* Example of Pseudo Class */
/* 
.link-button:hover {
	color: orangered;
	font-size: 17px;
	/* background-color: red; */
	background-image: linear-gradient(180deg, blue, cyan);
}
*/

/*
.link-button:focus {
	color: white;
	font-size: 15px;
	/* background-color: red; */
	background-image: linear-gradient(180deg, blue, cyan);
}
*/

/* li:first-child {
	color: blue;
}
li:last-child {
	color: blue;
}
li:nth-child(2n) {
	color: blue;
} */
/* a:visited {
	color: blue;
} */



/* Example of Pseudo Element */
/* .link-button::before {
	content: "Hello ";
	color: blue;
	font-size: 12px;
	background-color: cyan;
}
.link-button::after {
	content: "Bye ";
	color: blue;
	font-size: 12px;
	background-color: cyan;
} */
/* body {
	counter-reset: section;
}
p::before {
	counter-increment: section;
	content: "Crush " counter(section) ": ";
	color: red;
} */

.dream-area {
	background-image: url("images/dream-bg.png");
	background-repeat: no-repeat;
	background-position: right;
}
.single-experience {
	box-shadow: 10px 10px 40px gray;
	border-radius: 5px;
	height: 80%;
	background-color: white;
}
.experience-area {
	background-image: url("images/exp-bg.png");
	background-repeat: no-repeat;
	background-position: left;
}
#full-stack {
	border-left: 7px solid;
	border-image: linear-gradient(180deg, lightsalmon, tomato);
	border-image-slice: 1;
}
#baby-web {
	border-left: 7px solid;
	border-image: linear-gradient(180deg, blue, cyan);
	border-image-slice: 1;
}
footer p {
	text-align: center;
	font-size: 12px;
}


/* How Work
01. overflow, 
02. media-query, 
03. animation, 
04. CSS3, 
05. Advanced Selectors */